/* contact  */

.form-container {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;

}

.fieldset{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
}


/* utilities */

.container {
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}

.input-container {
margin-bottom: 10px;
}
.input-container label {
    display: inline-block;
    width: 10%;
}
.input-container input, 
.input-container textarea {
    display: inline-block;
    width: 85%;
    border: 1px solid rgb(158, 158, 158);
    padding: 3px;
}
.site-contact {

}