/*#region*/

/*#endregion*/

/*#region global*/

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Kalnia Glaze", serif; */
    font-family: "Wittgenstein", serif;
}


p {
    line-height: 2;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
    /* check me display */
}

h2,
h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*#endregion*/

/*#region utilities*/
.price-listing {
    color: green;
}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 900;
}

/* .container {
    width: 80%;
    margin-left: auto;
    margin-right:auto;
} */

/*#endregion*/


/*#regio header*/
.primary-header {
    background-image: url("./img/header.jpg");
    height: 400px;
    background-size: cover;
    color: white;
    text-align: center;

}

.menu a {
    color: white;
    margin-right: 30px;

}

/* with out its the same why?
 */
.header-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*#endregion*/

/*#region main*/
.flex-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*#endregion*/




/*#region house listings*/

.house-item {

    background-color: rgb(243, 242, 242);
    /* margin-right: 10px; */
    /* justify-content: space-between; */

}

.house-item-img {}

.house-item-text {
    padding: 20px;
}

.btn-details {
    display: block;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;

}

.flex-listing-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.all-listing-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

}

.listing-list-style {
    list-style: none;
}

.listing-room-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;

}

.house-item-text h3 {
    font-weight: 900;


}

/*#endregion*/


/*#region contact*/

.contact-header {
    background-color: orange;
    height: 200px;
}

.header-flex-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;

}

.menu-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.menu-contact a {
    color: black;


}

.main-flex-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 700px; */

}

.contact-form {
    background-color: rgb(239, 236, 236);
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}

.width-contact {
    width: 800px;
    text-align: center;
}

.form-container {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* border: 1px solid grey; why do we need border feildset came with it  */

}






.input-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-bottom: 10px;
}

.input-container label {
    display: inline-block;
    width: 13%;
}

.input-container input,
.input-container textarea,
.input-container select {
    display: inline-block;
    width: 65%;
    border: 1px solid rgb(158, 158, 158);
    padding: 3px;
    margin-left: 35px;
}

.contact-info-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

.contact-info-row input {
    /* margin-left: 160px; */
    display: inline-block;
    width: 65%;
    padding: 3px;


}

/*#endregion*/


/*#region footer contact */

.footer-contact {
    background-color: rgb(239, 236, 236);
    height: 100px;
    margin-top: 30px;
}

.underline {
    text-decoration: underline;
}

.flex-footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.flex-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;

}

.flex-copyright div:last-of-type {
    border-left: 3px solid black;
    padding-left: 20px;
    text-decoration: underline;
}

.contact-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
}

.contact-social-links i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

.form-container {}

/*#endregion*/

/*#region about*/

.about-container {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center;
    align-items: center; */
}

.main-flex-contact p {
    padding: 10px;
}

.container img {
    height: 400px;
    width: 2300px;
}

/*#endregion*/


/*#region blog*/
.about-header {
    background-image: url("./img/highlight.jpg");
    height: 300px;
    background-size: cover;
    color: white;
    text-align: center;

}

.blog-flex {
    display: flex;
    justify-content: space-around;

}

.blog-card {

    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    height: 500px;
    width: 500px;
    background-color: rgba(255, 166, 0, 0.552);
    border-radius: 40px;
}
.blog-card img {
    border-radius: 20px;
    height: 350px;
    width: 450px;
    margin-top: 20px;
}

.blog-card h4 {
    margin-top: 10px;
}

.blog-card p {
    border-bottom: 2px solid limegreen;
    padding-bottom: 30px;
  width: 450px;
}

.blogcard-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.blog-center-img{
    margin-right: auto;
    margin-left: auto;
    width: 95%;
   
}

.blog-center-img img {
    border-radius: 50%;
}

/*#endregion*/






@media(max-width:758px) {
    .more-about-container {
        display: flex;
        flex-direction: column;

    }

    h3 {
        text-align: center;
    }
}